@import './colors.css';
@import './components/dashboard.css';
@import './components/minesweeper.css';

html {
  font-size: 62.5%;
  font-family: 'Press Start 2P';
  background-color: var(--white);
}
h1 {
  font-size: 32px;
  font-family: 'Press Start 2P';
  letter-spacing: 1px;
  color: var(--black);
  text-align: center;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

