@import './colors.css';
@import './components/game-header.css';
@import './components/game-body.css';
html {
  font-family: 'Press Start 2P';
  box-sizing: border-box;
  background-color: var(--white);
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

h1 {
  font-size: 32px;
  font-family: 'Press Start 2P';
  letter-spacing: 1px;
  color: var(--black);
  text-align: center;
}


